<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.test.mapper.UserMapper" >
    
    <sql id="Base_Column_List" >
        u.username username,
        u.password password
    </sql>
    <select id="findAllUser" resultType="com.exam.test.vo.User">
        select
            *
            from user u
    </select>
    <select id="findUserById" resultType="com.exam.test.vo.User">
        select * from user where userid = #{userid}
    </select>

    <select id="findByName" resultType="com.exam.test.vo.User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <select id="getPassword" resultType="com.exam.test.vo.User">
        select password from user where username = #{username}
    </select>
</mapper>